// html {
//   overflow-y: overlay;
// }

.h-100vh {
  height: 100vh;
}

.logo {
  font-size: 30px;
}
.nav-link {
  margin: 0 1em !important;
}

.active {
  border-bottom: 1px solid #000;
}

.avoid-scrollbar-push {
  margin-right: calc(100% - 100vw);
}
