.footer {
  border-top: 1px solid #ccc;
  &__content {
    display: flex;
    width: 50%;
    margin: auto;
    padding: 20px 0;
    &__text {
      margin: auto 0 auto;
    }
    &__link {
      margin-left: auto;
    }
  }
}
